.totle{
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(116, 228, 228);
  cursor: pointer;
}

.totle:hover{
  background-color: rgb(102, 179, 230);
}

.open{
  background-color: rgba(238, 235, 61, 0.87);
}

.open:hover{
  background-color: rgba(255, 251, 0, 0.87);
}

.inprogress{
  background-color: rgba(85, 235, 48, 0.596);
}

.inprogress:hover{
  background-color: rgba(83, 255, 40, 0.815);

}

.closed{
  background-color: rgba(255, 85, 85, 0.897);
}
.closed:hover{
  background-color: rgb(250, 10, 10);

}
