<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="padding: 2rem; border-radius: .5rem; background-color: rgb(186, 232, 247);">
        <form>
            <div class="row" style="margin-bottom: 1rem;">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ID">Request ID:</label>
                  <input type="text" class="form-control" id="ID" value="{{request.requestId}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="department">Department</label>
                  <input type="text" class="form-control" id="department" value="{{request.requestDepartment}}" disabled>
                </div>
              </div>
          </div>

          <div class="row" style="margin-bottom: 1rem;">
            <div class="col-md-6">
              <div class="form-group">
                <label for="requestCategory">Request Category:</label>
                <input type="text" class="form-control" id="requestCategory" value="{{request.requestCategory}}" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="requestSubCategory">Request Sub Category:</label>
                <input type="text" class="form-control" id="requestSubCategory" value="{{request.requestSubCategory}}" disabled>
              </div>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-bottom: 1rem;">
          <div class="col-12">
            <div class="form-group">
              <label for="requestSummary">Summary</label>
              <textarea name="requestSummary" id="requestSummary" cols="30" rows="4" style="width: 100%;" disabled>{{request.requestSummary}}</textarea>
            </div>
          </div>
        </div>
        <hr>

        <div class="row" style="margin-bottom: 1rem;">
          <div class="col-md-6">
              <fieldset class="form-group">
                  <legend class="col-form-label" required>Status:</legend>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" style="cursor:pointer;">
                    <label class="form-check-label" for="exampleRadios1">
                      In Progress
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" style="cursor:pointer;">
                    <label class="form-check-label" for="exampleRadios2">
                      Close
                    </label>
                  </div>
              </fieldset>
          </div>
          <div class="col-md-6">
            <legend class="col-form-label" required>Assign To:</legend>
              <select class="form-control">
                <option default>--Select Employee Here --</option>
                <option >Employee XYZ [12345]</option>
                <option >Employee XYZ [12345]</option>
                <option >Employee XYZ [12345]</option>
                <option >Employee XYZ [12345]</option>
              </select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 2rem;">
          <div class="form-group">
            <div class="form-group">
              <label for="comment">Comment:</label>
              <textarea name="comment" id="comment" cols="30" rows="4" style="width: 100%;" placeholder="Type a Comment here If any!"></textarea>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" >
          <div class="col-md-6" >
            <div class="form-group">
              <button type="submit" class="btn btn-success mr-2 mb-2" style="width: 100%;">Save</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <button type="button" class="btn btn-danger mb-2" style=" width: 100%;" (click)="onCancel()">Cancel</button>
            </div>
          </div>

        </div>

        </form>
    </div>
  </div>
</div>
