
  <hr>
  <div class="container bg-dark text-light">
    <div class="row">
      <div class="col-xs-12 m-2">
          <h5>Filter By:</h5>
          <form (ngSubmit)="onFilterSubmit(filterForm)" #filterForm="ngForm">
             <div class="row">
              <div class="col-2">
                <div class="form-group">
                  <label for="department">Department</label>
                  <select
                    id="department"
                    class="form-control"
                    ngModel
                    name="department">
                    <option value="it">IT</option>
                    <option value="finance">Finance</option>
                    <option value="admin">Admin</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="category">Category</label>
                  <select
                    id="category"
                    class="form-control"
                    ngModel
                    name="category">
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                    <option value="travelBooking">Travel Booking</option>
                    <option value="salaryIssue">Salary Issue</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="subCategory">Sub Category</label>
                  <select
                    id="subCategory"
                    class="form-control"
                    ngModel
                    name="subCategory">
                    <option value="laptop">Laptop</option>
                    <option value="mouse">Mouse</option>
                    <option value="keyboard">Keyboard</option>
                    <option value="internationalTravelTicket">International Travel Ticket</option>
                    <option value="salaryCalculation">Salary Calculation</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select
                    id="status"
                    class="form-control"
                    ngModel
                    name="status">
                    <option value="open">open</option>
                    <option value="inProgress">In Progress</option>
                    <option value="close">Close</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="type">Type</label>
                  <select
                    id="type"
                    class="form-control"
                    ngModel
                    name="type">
                    <option value="Issue">Issue</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
             </div>
              <div class="form-group float-right">
                 <button type="submit" class="btn btn-success mr-4">Apply</button>
                 <button type="button" class="btn btn-danger mr-4" (click)="onCancel()">Cancel</button>
              </div>
          </form>

      </div>
    </div>
  </div>


